form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  mat-checkbox {
    margin: 15px 0;
  }

  mat-select-trigger {
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 15px;
    }
  }

  mat-radio-group {
    display: flex;
    align-items: center;
    margin: 15px 0;

    span {
      margin-right: 15px;
    }

    mat-radio-button {
      margin-right: 15px;
      display: flex;
      align-items: center;
    }
  }
}
