<div [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Mot de passe</mat-label>
    <input matInput placeholder="Mot de passe" formControlName="password" type="password"
           (focusout)="passwordChanged()" autocomplete="new-password">
    <mat-error *ngIf="passwordIsRequired()">
      Ce champ doit être rempli.
    </mat-error>
    <mat-error *ngIf="passwordIsWeak()">
      Doit contenir 8 caractères dont au moins 2 chiffres.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Confirmation de mot de passe</mat-label>
    <input matInput placeholder="Confirmation de mot de passe" formControlName="confirmPassword" type="password"
           [errorStateMatcher]="parentErrorStateMatcher" (focusout)="passwordChanged()">
    <mat-error *ngIf="!passwordMatch()">
      Les mots de passe ne correspondent pas.
    </mat-error>
    <mat-error *ngIf="passwordIsRequired()">
      Ce champ doit être rempli.
    </mat-error>
  </mat-form-field>
</div>
