<div class="login-container">
  <mat-card>
    <app-logo [style]="'login'"></app-logo>

    <mat-card-content>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Se connecter</h2>
        <mat-error *ngIf="loginInvalid">
          Le nom d'utilisateur et le mot de passe que vous avez saisis ne correspondaient pas à nos enregistrements.
          Veuillez vérifier et réessayer.
        </mat-error>
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput placeholder="Nom d'utilisateur" formControlName="username" required>
          <mat-error>
            Le nom d'utilisateur est obligatoire.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" placeholder="Mot de passe" formControlName="password" required>
          <mat-error>
            Le mot de passe est obligatoire.
          </mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" [disabled]="isButtonDisabled">Se connecter</button>
      </form>
    </mat-card-content>

    <footer>
      <div class="version">Version {{version}}</div>
      <div class="organism">
        <a target="_blank" [href]="'https://www.cdrv.ca/accueil/'" title="https://www.cdrv.ca/accueil/">{{organism}}</a>
      </div>
    </footer>
  </mat-card>
</div>
