.login-container {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url('../../../assets/images/riski-andriansyah-Gl6GljPtJpo-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  justify-content: flex-end;

  .wrapper {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    background: var(--background);
    padding: 0 var(--header-height);
    box-sizing: border-box;

    app-logo {
      margin-bottom: 10px;
    }

    .row {
      width: 100%;
      display: flex;
      justify-content: center;

      .column {
        display: flex;
        flex-direction: column;
        width: 50%;

        &:first-of-type {
          max-width: 400px;
          padding-right: var(--app-content-padding);

          span {
            line-height: 40px;
            font-weight: 700;
            font-size: 36px;
            font-family: 'Nunito', sans-serif;
          }
        }

        &:last-of-type {
          form {
            display: flex;
            flex-direction: column;

            mat-form-field {
              display: block;
              margin-bottom: 20px;
              padding-bottom: 10px;
            }

            button {
              align-self: flex-end;
            }
          }

          .divider {
            height: 1px;
            background-color: var(--border);
            margin: calc(var(--app-content-padding) * 2) 0 var(--app-content-padding);
          }

          span {
            font-size: 12px;
            opacity: 0.5;
            cursor: pointer;
            transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;

            &:hover {
              opacity: 1;
              color: var(--primary-lighter-color);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .login-container {
    .wrapper {
      padding: 0 calc(var(--header-height) / 2);

      .row {
        flex-direction: column;

        .column {
          width: 100%;

          &:first-of-type {
            padding-right: 0;
            padding-bottom: var(--app-content-padding);
          }

          &:last-of-type {
            .divider {
              margin: var(--app-content-padding) 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .login-container {
    .wrapper {
      width: 100%;
      border-radius: 0;
    }
  }
}

@media screen and (max-width: 350px) {
  .login-container {
    .column:first-of-type {
      span {
        font-size: 24px !important;
        line-height: 30px !important;
      }
    }
  }
}
