// Time picker

.ngx-mat-timepicker {
  font-size: 16px !important;

  form {
    min-width: 100% !important;

    .ngx-mat-timepicker-table .ngx-mat-timepicker-tbody tr td .mat-form-field {
      min-width: 40px !important;
      width: 40px !important;
    }
  }
}

// Calendar

.cal-week-view {
  .cal-current-time-marker {
    background-color: var(--accent-color);
  }

  .cal-hour-segment {
    cursor: pointer;
  }
}

.cal-month-view {
  .cal-day-cell.cal-today {
    background-color: var(--primary-lighter-color);
  }

  .cal-day-badge {
    background-color: var(--primary-color);
  }

  .cal-cell-top {
    flex: initial;
    min-height: initial;
  }

  .cal-day-cell.cal-weekend .cal-day-number {
    color: var(--accent-color);
  }

  .cal-day-cell {
    height: 125px;
    min-width: 0;
  }

  .cal-cell-row .cal-cell:hover,
  .cal-cell.cal-has-events.cal-open {
    background-color: var(--accent-lighter-color);
  }

}

@media screen and (max-width: 700px) {
  .cal-month-view {
    .cal-cell-row {
      flex-direction: column;
    }

    .cal-header {
      display: none;
    }

    .cal-day-cell {
      border-bottom: 1px solid #e1e1e1;

      .cal-day-number,
      &.cal-weekend .cal-day-number {
        color: var(--text-color);
        opacity: 1;
      }

      &.cal-out-month .cal-day-number {
        color: var(--text-color);
        opacity: 0.6;
      }
    }
  }

  .cal-open-day-events {
    display: none;
  }
}
