// Time picker

.ngx-mat-timepicker {
  font-size: 16px !important;

  form {
    min-width: 100% !important;

    .ngx-mat-timepicker-table .ngx-mat-timepicker-tbody tr td .mat-form-field {
      min-width: 40px !important;
      width: 40px !important;
    }
  }
}

// Calendar

.cal-month-view .cal-day-badge {
  background-color: var(--primary-color);
}

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
  color: var(--accent-color);
}
