<div class="container">
  <section class="events-container">
    <h3>Événements du {{viewDate | date: 'dd MMM yyyy'}}</h3>
    <button *ngIf="isUser" class="add-button" mat-raised-button [color]="'primary'"
            (click)="openFormWithTime(currentDate)">
      <mat-icon>add</mat-icon>
      Ajouter
    </button>
    <app-events [events]="eventsWithDetails"></app-events>
  </section>
  <section class="calendar-container">
    <div class="calendar-controls">
      <div class="button-group view">
        <div class="button"
             (click)="setView(calendarView.Month)"
             [class.active]="view === calendarView.Month">
          Mois
        </div>
        <div class="button"
             (click)="setView(calendarView.Week)"
             [class.active]="view === calendarView.Week">
          Semaine
        </div>
        <div class="button"
             (click)="setView(calendarView.Day)"
             [class.active]="view === calendarView.Day">
          Jour
        </div>
      </div>
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'fr' }}</h3>
      <div class="button-group time">
        <div class="button icon"
             mwlCalendarPreviousView
             [view]="view"
             [(viewDate)]="viewDate"
             (viewDateChange)="viewDateChange($event)">
          <mat-icon>chevron_left</mat-icon>
        </div>
        <div class="button"
             mwlCalendarToday
             [(viewDate)]="viewDate"
             (viewDateChange)="viewDateChange($event)">
          Aujourd'hui
        </div>
        <div class="button icon"
             mwlCalendarNextView
             [view]="view"
             [(viewDate)]="viewDate"
             (viewDateChange)="viewDateChange($event)">
          <mat-icon>chevron_right</mat-icon>
        </div>
      </div>
    </div>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="calendarView.Month"
        [locale]="'fr'"
        [viewDate]="viewDate"
        [events]="calendarData"
        [refresh]="refresh"
        [activeDayIsOpen]="false"
        [cellTemplate]="customCellTemplate"
        (eventClicked)="openForm($event.event)"
        (dayClicked)="dayClicked($event.day)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="calendarView.Week"
        [viewDate]="viewDate"
        [events]="calendarData"
        [refresh]="refresh"
        [eventTemplate]="customWeekEvent"
        (eventClicked)="openForm($event.event)"
        (hourSegmentClicked)="openFormWithTime($event.date)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="calendarView.Day"
        [viewDate]="viewDate"
        [events]="calendarData"
        [refresh]="refresh"
        [eventTemplate]="customWeekEvent"
        (eventClicked)="openForm($event.event)"
        (hourSegmentClicked)="openFormWithTime($event.date)"
      >
      </mwl-calendar-day-view>
    </div>
  </section>
</div>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top" (mouseenter)="showAddButton = day" (mouseleave)="showAddButton = null"
       (click)="openFormWithTime(day.date)">
    <div *ngIf="showAddButton == day" class="add" (click)="openFormWithTime(day.date)">
      <mat-icon>add</mat-icon>
    </div>
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">
      {{day.badgeTotal}}
    </span>
    <span class="cal-day-number">
      <span>{{day.date | calendarDate:'monthViewDayNumber':locale}}</span>
    </span>
  </div>
  <div class="month-event" *ngFor="let event of day.events.slice(0, 3);">
    <span>{{event.start | date: 'h:mm a'}}</span>: {{event.title}}
  </div>
  <small class="month-event" *ngIf="day.events.length > 3">
    <span>...</span>
  </small>
</ng-template>


<ng-template #headerTemplate let-days="days" let-dayClicked="dayClicked"
             let-eventDropped="eventDropped">
  <div class="cal-cell-row cal-header">
    <div class="classes" *ngFor="let day of days">
      <div class="small-date">
        {{day.date | date: 'EE'}}
        {{day.date | date: 'd'}}
      </div>
      <div class="large-date">
        {{day.date | date: 'EEEE'}}
        {{day.date | date: 'd'}}
      </div>
    </div>
  </div>
</ng-template>

<ng-template #customDayEventsTemplate let-events="events" let-eventClicked="eventClicked" let-isOpen="isOpen">
  <div class="cal-open-day-events" [@collapse] *ngIf="isOpen">
    <div class="date">{{events[0].start | date: 'longDate' }}</div>
    <div *ngFor="let event of events">
      <div class="event" (click)="openForm(event)">{{event.start | date: 'h:mm a'}}
        - {{event.end | date: 'h:mm a'}}: {{ event.title }}</div>
    </div>
  </div>
</ng-template>

<ng-template #customWeekEvent let-weekEvent="weekEvent">
  <div class="cal-event" (click)="openForm(weekEvent.event)" [style.background-color]="'#fff'"
       [style.border-color]="weekEvent.event.meta?.event?.session[0]?.session_type?.session_type_color">
    <div class="event">
      {{weekEvent.event.start | date: 'h:mm a'}} - {{weekEvent.event.end | date: 'h:mm a'}}: {{weekEvent.event.title}}
      avec
      <ng-container
        *ngFor="let participant of weekEvent.event.meta?.event?.session[0]?.session_participants; let last = last">
        {{participant.participant_name}} <span *ngIf="!last">, </span>
      </ng-container>
    </div>
  </div>
</ng-template>


