<div class="wrapper">

  <section class="form">
    <div class="title">
      <h2>Connexion</h2>
      <p>Gestion du portail web</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-error *ngIf="loginInvalid">
        Le nom d'utilisateur et le mot de passe que vous avez saisis ne correspondaient pas à nos enregistrements.
        Veuillez vérifier et réessayer.
      </mat-error>
      <mat-form-field appearance="outline">
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput placeholder="Nom d'utilisateur" formControlName="username" required>
        <mat-error>
          Le nom d'utilisateur est obligatoire.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" placeholder="Mot de passe" formControlName="password" required>
        <mat-error>
          Le mot de passe est obligatoire.
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" [disabled]="isButtonDisabled">Se connecter</button>
    </form>
    <span>
      <a target="_blank" href="https://www.cdrv.ca/accueil/"
         title="Centre de recherche sur le vieillissement">{{organism}}</a>
    </span>
  </section>
  <section class="banner">
    <!--<app-logo></app-logo>-->
    <h1>
      Portail Web
    </h1>
  </section>
</div>
