.glass-container {
  width: var(--glass-login-width);
  max-width: 1000px;
  margin: 0 auto;
  background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
  );
}

@media screen and (max-width: 850px) {
  .glass-container {
    width: 90%;
  }
}

@media screen and (max-width: 350px) {
  .glass-container {
    width: 100%;
    border-radius: 0;
  }
}
