.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  &.login {
    flex-direction: column;
  }

  svg,
  svg-icon {
    height: 60px;
    width: 40px;
  }

  #logo {
    fill: var(--accent-color);
  }

  .text {
    text-align-last: justify;
    display: flex;
    height: 80px;
    align-items: center;
    flex-direction: column;
    margin-left: 5px;
    justify-content: center;
    color: var(--text);

    span {
      display: block;
    }

    .first-line {
      text-transform: lowercase;
      font-family: 'Quicksand', sans-serif;
      font-size: 40px;
      line-height: 40px;
      font-weight: 700;
      letter-spacing: -1px;
    }

    .second-line {
      font-size: 16px;
      font-family: 'Quicksand', sans-serif;
      font-weight: 600;
    }
  }
}
