.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  &.login {
    text-transform: lowercase;

    .text {
      font-size: 14px !important;
    }
  }

  svg,
  svg-icon {
    height: 60px;
    width: 40px;
    display: none;
  }

  .text {
    color: var(--accent-lighter-color);
    font-weight: 700;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
  }
}
