<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="appForm">
    <mat-checkbox formControlName="enable" [color]="'accent'">Actif</mat-checkbox>

    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="name">
      <mat-error>
        {{required}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Icône</mat-label>
      <mat-select formControlName="icon" (selectionChange)="iconChange($event.value)" [value]="selectedIcon">
        <mat-select-trigger>
          <mat-icon>{{selectedIcon?.code}}</mat-icon>
          {{selectedIcon?.code}}
        </mat-select-trigger>
        <mat-option *ngFor="let icon of icons" [value]="icon">
          <mat-icon>{{icon.code}}</mat-icon>
          {{icon.code}}
        </mat-option>
      </mat-select>
      <mat-error>
        {{required}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ordre</mat-label>
      <mat-select formControlName="order">
        <mat-option [value]="position" *ngFor="let position of positions">{{position}}</mat-option>
      </mat-select>
      <mat-error>
        {{required}}
      </mat-error>
    </mat-form-field>

    <mat-radio-group aria-label="Type" formControlName="type" (change)="changeType($event.value)">
      <span>Type:</span>
      <mat-radio-button [color]="color" value="{{appType.external}}">Externe</mat-radio-button>
      <mat-radio-button [color]="color" value="{{appType['OpenTera Service']}}">Service OpenTera</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline" *ngIf="!isOpenTeraServiceApp">
      <mat-label>Lien</mat-label>
      <input matInput formControlName="url" [placeholder]="urlExample">
      <mat-error>
        {{required}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="isOpenTeraServiceApp">
      <mat-label>Service</mat-label>
      <mat-select formControlName="service" [value]="selectedService">
        <mat-option *ngFor="let service of services" [value]="service">
          {{service.service_name}}
        </mat-option>
      </mat-select>
      <mat-error>
        {{required}}
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-stroked-button [disabled]="!canSave" [color]="color" (click)="onSave()">
    Sauvegarder
  </button>
</div>
