html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100vw;
}

html {
  position: relative;
}

body {
  --text: #fdfdfd;
  --field-background: #36373b;
  --background: #262729;
  --border: #42454c;
  --header-height: 80px;
  --app-content-padding: 40px;
  color: var(--text);
  background-color: var(--background);
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:hover {
    color: inherit;
  }
}

/****** FORM FIELDS ******/
.login-container {
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1.2em 0 1.2em 1em;
  }
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-appearance-outline {

  &.mat-focused {
    .mat-form-field-outline-thick {
      color: var(--accent-color);
    }
  }

  .mat-form-field-outline {
    color: var(--border);

    &:hover {
      color: var(--accent-color);
    }
  }

  .mat-form-field-outline-start,
  .mat-form-field-outline-gap,
  .mat-form-field-outline-end {
    background-color: var(--field-background);
  }
}

.mat-select-panel {
  .mat-option.mat-selected:not(.mat-option-multiple) {
    background: var(--accent-lighter-color);
    color: var(--background);
  }
}

.mat-form-field {
  .mat-form-field-label {
    color: var(--text);
  }

  &.mat-focused {
    .mat-form-field-label {
      color: var(--text);
      transform: translateY(-1.59375em) scale(0.75);
    }
  }
}

mat-error {
  padding-bottom: 3px;
  margin-top: 15px;
}

@media screen and (min-width: 850px) {
  .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    width: 400px;
  }
}

